body {
    background: black;
}
.game-window {
    display: grid;
    grid-template-rows: 70% 30%;
    height: 600px;
    width: 600px;
}

.interaction-window {
    background: green;
}

.interaction-window button {
    width: 60px;
    visibility: hidden;
}

.text-window {
    display: flex;
    background: white;
    justify-content: center;
    align-items:center;

}

#text-box {
    display: flex;
    height: 150px;
    width: 570px;
    background: blue;
}

#Restart {
    display: none;
}

.Next {
margin-left: 10px;
height: 21px;
width: 60px;

}




