@keyframes rotate {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}


body {
    background: black;
    font: 300 16px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.game-window {
    display: grid;
    grid-template-rows: 70% 30%;
    height: 600px;
    width: 600px;
    margin: 10%;
}

#interaction-window {
    position: relative;
    background-Image: url(../../Assets/Images/block.jpg);
    background-Size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Shoebox {
    display: none;
    background-Image:  url(../../Assets/Images/shoe.jpg);
    height: 200px;
    width: 200px;
    background-size: 100%;
}

.interaction-window button{
    height: 21px;
}


#Actions {
    display: flex;
    width: 600px;
    align-items:center;
    justify-content: center;
}

#Actions button {
    display: none;
}

#para {
    display: flex;
    width: 600px;
    height: 60px;
    align-items:center;
    justify-content: center;
}

#text-box {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 180px;
    width: 600px;
    background: #626D71;
    color: white;
    font-size: 22px;
    font-family: "Niramit", sans-serif;

}


#Restart {
    display: none;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 15px rgba(0,0,0,.6);
}

#Library {
    background-color: wheat;
}
#Gym {
    background-color: tomato;
}
#Fight {
    background-color: red;
}
#Work {
    background-color: lightblue;
}